

.landing-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100vw;
}

.landing-grid {
	padding-top: 2rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
	width: 80%;
}

.txt-container {
	padding: 1rem;
}