.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 100vw;
	padding: 1.2rem;
	background-color: var(--navbar-bg-light);
}


.list {
	display: flex;
	flex-direction: row;
}


.link {
	text-decoration: none;
	font-size: 1rem;
	margin: 0 .5rem;
	text-transform: uppercase;
	color: var(--black);
	font-weight: 500;
	transition: var(--transition);
}

.link:hover {
	font-weight: 600;
}
.active {
	color: var(--black);
	font-weight: 600;

}